<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <link rel="stylesheet" href="/static/styles/base.css" />
        <title>{% block title %}{% endblock title %}</title>
        {% endblock head %}
    </head>
    <body>
        <header id="global-header">
            {% if ontology_index%}
            <div>
                <ul>
                    {% for o in ontology_index %}
                    <li class="nav-item">
                        <a href="/{{o.identifier}}" class="crossref"
                            >{{o.display}}</a
                        >
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <div id="page-header">{% block header %}{{ title }}</div>
            {% endblock header %}
        </header>
        {% block aside %} {% endblock aside %}
        <main class="container page-grid">
            <div class="content">{% block content %}{% endblock content %}</div>
        </main>
        <footer>
            {% block footer %}
            <div>
                Built using
                <a href="https://github.com/enioarz/ontology-server"
                    >ontology-server.rs</a
                >
            </div>
            {% endblock footer %}
        </footer>
    </body>
</html>
