<!doctype html>
<html>
    {% if label %}
    <h3>{{ label}}</h3>
    {% else %}
    <h3>{{ iri }}</h3>
    {% endif %}
    <div class="{{ kind }}" id="{{ iri }}">
        <p>
            <strong>IRI:</strong>
            <a href="{{ iri }}">{{ iri }}</a>
        </p>
        {% if definition %}
        <h5>definition</h5>
        <div class="definition">
            <p>{{ definition }}</p>
        </div>
        {% endif %} {% if example %}
        <h5>example</h5>
        <div class="example">
            <p>{{ example }}</p>
        </div>
        {% endif %}
        <dl class="annotations">
            {% for ann in annotations %}
            <dt><a href="{{ ann.iri }}">{{ ann.display }}</a></dt>
            <dd>{{ ann.value }}</dd>
            {% endfor %}
        </dl>
    </div>
</html>
