{% macro expand_entity(entity) %} {% if entity.Simple %}
<a href="{{ entity.Simple.identifier }}.html">{{ entity.Simple.display }}</a>
{% elif entity.And %} {% for ca in entity.And %} {% if loop.last %} {{
macros::expand_entity(entity=ca) }} {% else %} {{
macros::expand_entity(entity=ca) }}
<span style="font-weight: bold">and</span> {% endif %} {% endfor %} {% elif
entity.Some %} {{ macros::expand_entity(entity=entity.Some.ope) }}
<span style="font-weight: bold">some</span> {{
macros::expand_entity(entity=entity.Some.ce) }} {% endif %} {% endmacro
expand_entity %}
