{% macro expand_entity(entity, depth=0) %} {% if entity.Simple %}
<a href="/{{ entity.Simple.identifier }}.html" class="crossref"
    >{{ entity.Simple.display }}</a
>
{% elif entity.And %} {% if depth > 0 %} ( {% endif %} {% for ca in entity.And
%} {% if loop.last %} {{ self::expand_entity(entity=ca, depth=depth) }} {% else
%} {{ self::expand_entity(entity=ca, depth=depth) }}
<span style="font-weight: bold">and</span> {% endif %} {% endfor %} {% if depth
> 0 %} ) {% endif %} {% elif entity.Or %} {% if depth > 0 %} ( {% endif %} {%
for ca in entity.Or %} {% if loop.last %} {{ self::expand_entity(entity=ca,
depth=depth) }} {% else %} {{ self::expand_entity(entity=ca, depth=depth) }}
<span style="font-weight: bold">or</span> {% endif %} {% endfor %} {% if depth >
0 %} ) {% endif %} {% elif entity.All %} {% if depth > 0 %} ( {% endif %} {{
self::expand_entity(entity=entity.All.rel, depth=depth+1) }}
<span style="font-weight: bold">only</span> {{
self::expand_entity(entity=entity.All.ce, depth=depth+1) }} {% if depth > 0 %} )
{% endif %} {% elif entity.Some %} {% if depth > 0 %} ( {% endif %} {{
self::expand_entity(entity=entity.Some.rel) }}
<span style="font-weight: bold">some</span> {{
self::expand_entity(entity=entity.Some.ce, depth=depth+1) }} {% if depth > 0 %}
) {% endif %} {% elif entity.Value %} {% if depth > 0 %} ( {% endif %} {{
self::expand_entity(entity=entity.Value.rel) }}
<span style="font-weight: bold">value</span> {{
self::expand_entity(entity=entity.Value.ce, depth=depth+1) }} {% if depth > 0 %}
) {% endif %} {% elif entity.Not %} {% if depth > 0 %} ( {% endif %}
<span style="font-weight: bold">not</span> {{
self::expand_entity(entity=entity.Not, depth=depth+1) }} {% if depth > 0 %} ) {%
endif %} {% endif %} {% endmacro expand_entity %}
