{% extends "base.html" %} {% block title %}Index{% endblock title %} {% block
head %} {{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
<script src="/static/scripts/htmx.js"></script>
{% endblock head %} {% block aside %} {% if sidebar %}
<aside style="position: sticky">
    <nav id="side-nav" class="is-sticky-above-lg">
        <ul id="entities-sidebar">
            <li>
                <h4 class="caret"><a href="#klsses">Classes</a></h4>
                <ul class="nested">
                    {% for cls in sidebar.classes %}
                    <li><a href="#{{ cls.iri }}">{{ cls.display }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <h4 class="caret">
                    <a href="#ninds-headline">Named Individuals</a>
                </h4>
                <ul class="nested">
                    {% for ind in sidebar.named_individuals %}
                    <li><a href="#{{ ind.iri }}">{{ ind.display }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <h4 class="caret">Object Properties</h4>
                <ul class="nested">
                    {% for op in sidebar.object_props %}
                    <li><a href="#{{ op.iri }}">{{ op.display }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <h4 class="caret">Annotation Properties</h4>
                <ul class="nested">
                    {% for ap in sidebar.annotation_props %}
                    <li><a href="{{ ap.iri }}">{{ ap.display }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <h4 class="caret">Data Properties</h4>
                <ul class="nested">
                    {% for dp in sidebar.data_props %}
                    <li><a href="{{ dp.iri }}">{{ dp.display }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </nav>
</aside>
{% endif %} {% endblock aside %} {% block content %} {% if iri %}
<header class="is-fixed-above-lg">
    {% if title %}
    <h1>{{ title }}</h1>
    {% endif %}
</header>
<section class="ontology is-sticky-above-lg" id="{{ iri }}">
    <p>
        <strong>IRI:</strong>
        <a href="{{ iri }}">{{ iri }}</a>
    </p>
    {% if version %}
    <h4>Version</h4>
    <div class="version">
        <a href="{{ version }}">{{ version }}</a>
    </div>
    {% endif %} {% if description %}
    <h4>Description</h4>
    <div class="description">
        <p>{{ description }}</p>
    </div>
    {% endif %} {% if license %}
    <h4>License</h4>
    <div class="license">
        <p>{{ license }}</p>
    </div>
    {% endif %}
    <h4>Contributors</h4>
    <dl>
        {% for contrib in contributors %}
        <dd class="contributor">
            <p>{{ contrib.value }}</p>
        </dd>
        {% endfor %}
    </dl>
    {% if previous %}
    <h4>Previous version</h4>
    <div class="previous">
        <p>{{ previous }}</p>
    </div>
    {% endif %}
    <dl class="annotations">
        {% for ann in annotations %}
        <dt><a href="{{ ann.iri }}">{{ ann.display }}</a></dt>
        <dd>{{ ann.value }}</dd>
        {% endfor %}
    </dl>
    {% endif %} {% if sidebar %}
    <div
        xmlns:widoco="https://w3id.org/widoco/vocab#"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        id="klsses"
    >
        <h3 id="classes-headline" class="list">Classes</h3>
        {% for cls in sidebar.classes %}
        <h4><a href="/{{ cls.identifier }}.html">{{ cls.display }}</a></h4>
        <div
            class="entity"
            id="{{ cls.iri }}"
            hx-get="/{{ cls.identifier }}.html"
            hx-trigger="load"
            hx-select=".entity-content"
        >
            <div></div>
        </div>
        {% endfor %}
    </div>
    <div
        xmlns:widoco="https://w3id.org/widoco/vocab#"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        id="named-individuals"
    >
        <h3 id="ninds-headline" class="list">Named Individuals</h3>
        {% for ninds in sidebar.named_individuals %}
        <h4><a href="/{{ ninds.identifier }}.html">{{ ninds.display }}</a></h4>
        <div
            class="entity"
            id="{{ ninds.iri }}"
            hx-get="/{{ ninds.identifier }}.html"
            hx-trigger="load"
            hx-select=".entity-content"
        >
            <div></div>
        </div>
        {% endfor %}
    </div>
    <div
        xmlns:widoco="https://w3id.org/widoco/vocab#"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        id="object-properties"
    >
        <h3 id="classes-headline" class="list">Object Properties</h3>
        {% for op in sidebar.object_props %}
        <h4><a href="/{{ op.identifier }}.html">{{ op.display }}</a></h4>
        <div
            class="entity"
            id="{{ op.iri }}"
            hx-get="/{{ op.identifier }}.html"
            hx-trigger="load"
            hx-select=".entity-content"
        >
            <div></div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</section>
{% endblock content %}
