/* #side-nav {
    position: fixed;
    width: 250px;
    height: calc(100% - 64px);
    overflow-y: scroll
  } */

  body > main > aside > nav.is-sticky-above-lg{
    position: sticky;
    top: calc(var(--pico-main-top-offset) + var(--pico-block-spacing-vertical)/ 2);
    max-height:  calc(100vh - var(--pico-spacing));  /*calc(80% - var(--pico-spacing)); */
    overflow: auto;
    transition: top var(--pico-transition);
    transition-delay: 50ms;
  }
  .is-sticky-above-lg{
    position: sticky;
    top: calc(var(--pico-main-top-offset) + var(--pico-block-spacing-vertical)/ 2);
    max-height:  calc(100vh - var(--pico-spacing));  /*calc(80% - var(--pico-spacing)); */
    overflow: auto;
    transition: top var(--pico-transition);
    transition-delay: 50ms;
  }

  main {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 10.5rem 1fr 10.5rem;
    /* grid-template-areas:
"menu header table-of-content" 
"menu body   table-of-content"; */
  }

  .is-fixed-above-lg {
    z-index: 2;
    position: sticky;
    top: 0;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: var(--pico-header-background);
    transition: border-top-color .4s ease-in-out,box-shadow .4s ease-in-out;
  }