on: [push]

jobs:
  test_build_job:
    runs-on: ubuntu-latest
    name: Test Github Action
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build Ontology
        uses: ./
        id: build
        with:
          args: "--config configs/example.toml build --render_imports"
      - name: Get the output time
        run: echo "${{ steps.build.outputs.results }}"
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: workspace_artifacts
          path: ${{ github.workspace }}/public
